name: Build APK

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Python
      run: sudo apt-get update && sudo apt-get install -y python3 python3-pip

    - name: Install Flet
      run: pip3 install flet

    - name: Build APK
      run: echo -e "y" | flet build apk . --project "SimpleCounter" --product "간단한 카운터" --org "com.gmspi" --module-name main

    - uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/*.apk
